:root {
  --md-primary-fg-color:        #707fca;
  --md-primary-fg-color--light: #707fca;
  --md-primary-fg-color--dark:  #707fca;
}

.md-typeset h1 {
  font-weight: bold;
  color: #4d5475;
  padding-bottom: 5px;
}

.md-typeset h2 {
  font-weight: bold;
  color: #5f5f5f;
  border-bottom: solid 2px #707fca;
  padding-bottom: 5px;
  margin-top: 5px;
  display: inline-block;
}

.md-typeset h3 {
  font-weight: bold;
  color: #5f5f5f;
}

@media (hover: hover) {
  .link {
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 1;
  }
  
  .link:hover {
    opacity: 0.5;
  }
}