:root {
  --md-primary-fg-color:        #DC3A88;
  --md-primary-fg-color--light: #DC3A88;
  --md-primary-fg-color--dark:  #DC3A88;
}

.hover-fade {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 1;
}

.hover-fade:hover {
  opacity: 0.5;
}